In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df=pd.read_csv("C:/Users/parva/.spyder-py3/Data/Html_Data/Data/Real-Data/Real_Combine.csv")

In [3]:
df

        T    TM    Tm     SLP     H   VV     V    VM      PM 2.5
0     7.4   9.8   4.8  1017.6  93.0  0.5   4.3   9.4  219.720833
1     7.8  12.7   4.4  1018.5  87.0  0.6   4.4  11.1  182.187500
2     6.7  13.4   2.4  1019.4  82.0  0.6   4.8  11.1  154.037500
3     8.6  15.5   3.3  1018.7  72.0  0.8   8.1  20.6  223.208333
4    12.4  20.9   4.4  1017.3  61.0  1.3   8.7  22.2  200.645833
..    ...   ...   ...     ...   ...  ...   ...   ...         ...
726  18.1  24.0  11.2  1015.4  56.0  1.8  15.9  25.9  288.416667
727  17.8  25.0  10.7  1015.8  54.0  2.3   9.4  22.2  256.833333
728  13.9  24.5  11.4  1015.0  95.0  0.6   8.7  14.8  169.000000
729  16.3  23.0   9.8  1016.9  78.0  1.1   7.4  16.5  186.041667
730  16.3  23.4   9.0  1017.3  68.0  1.3   7.8  18.3  185.583333

[731 rows x 9 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 9 columns):
T         731 non-null float64
TM        731 non-null float64
Tm        731 non-null float64
SLP       731 non-null float64
H         731 non-null float64
VV        731 non-null float64
V         731 non-null float64
VM        731 non-null float64
PM 2.5    730 non-null float64
dtypes: float64(9)
memory usage: 51.5 KB

In [5]:
df=df.dropna()

In [6]:
X=df.drop(["PM 2.5"],axis=1)
y=(df["PM 2.5"])

In [7]:
y = y.values.reshape(len(y),1)
print(X.shape, y.shape)

(730, 8) (730, 1)

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [9]:
from sklearn.neighbors import KNeighborsRegressor

In [11]:
knn = KNeighborsRegressor()
knn.fit(X_train,y_train)

KNeighborsRegressor(algorithm='auto', leaf_size=30, metric='minkowski',
                    metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                    weights='uniform')

In [15]:
from math import sqrt
from sklearn.metrics import r2_score, mean_squared_error

In [19]:
pred=knn.predict(X_test) #make prediction on test set
error = sqrt(mean_squared_error(y_test,pred)) #calculate rmse
error

64.664541372098